<!--Footer Section-->

<footer id="footer">
    <h1 class="footer-name">Emmanuella Ndukwe-Obiukwu</h1>
<!--    <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p>-->
    <div class="social-icons-footer">
        <a href="https://www.linkedin.com/in/emmanuella-ndukwe-obiukwu-6320b2195/">
            <i class="fa-brands fa-linkedin fa-2x footer-icon"></i>
        </a>
        <a href="https://twitter.com/NdukweElla">
            <i class="fa-brands fa-twitter fa-2x footer-icon"></i>
        </a>
        <a href="https://github.com/Ellarh">
            <i class="fa-brands fa-github fa-2x footer-icon"></i>
        </a>
         <a href="mailto:emmandukwe26@gmail.com">
            <i class="fa-solid fa-envelope fa-2x footer-icon"></i>
        </a>
        <a href="">
            <i class="fa-brands fa-instagram fa-2x footer-icon"></i>
        </a>
    </div>
    <div class="copyright">
        &copy; Copyright {{ current_year }} <strong><span>Emmanuella's Portfolio</span></strong>. All Rights Reserved
      </div>
</footer>